/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

.fa-brands {
  font-size: 32px;
}

.position {
  position: absolute;
  top: 100px;
  right: 40px;
}
